language: node_js
node_js:
  - '16'
services:
  - docker
before_install: 
  - docker build -t elpachanga1/docker-react -f Dockerfile.dev .
script:
  - docker run -e CI=true elpachanga1/docker-react npm run test -- --coverage